footer {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  background: url('/img/watercolor11.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  font-size: 3em;
  padding: 10px 0;
  margin: 10px 0 0.5em 0;
}
