{% extends 'base.html.twig' %}

{% block title %}
  Bodorrio Dany y Daniel | Detalles
{% endblock %}

{% block body %}
  <style>
    .main {
      box-shadow: none;
    }
  </style>
  <section class="main">
    <div class="details details--women">
      <h2>
        Para los que nos han preguntado acerca de como ir vestidos, aquí unos ejemplos:
      </h2>
      <div class="details__dresses">
        <img src="http://cdn.bodorrio-dany-daniel.com/images/vestidos.png"/>
      </div>
      <div class="details__shoes">
        <img src="http://cdn.bodorrio-dany-daniel.com/images/shoes.png"/>
      </div>
    </div>
    <div class="note note--green">
      <span>Mujeres,</span> habrá pasto así que les recomendamos no usar tacón de punta.
    </div>
    <div class="details details--men">
      <div class="details__suits">
        <img src="http://cdn.bodorrio-dany-daniel.com/images/trajes.png"/>
      </div>
    </div>
    <div class="note note--purple">
      <span>El clima será caluroso,</span> y si más tarde se sienten cansados, siéntanse<br />
      libres de llevar sus tenis o calzado cómodo.
    </div>
  </section>
{% endblock %}
