{% extends 'base.html.twig' %}

{% block title %}
  Bodorrio Dany y Daniel | Marzo 2018
{% endblock %}

{% block body %}
  <nav class="navigation">
    <ul>
      <li class="navigation__item navigation__item--fixed-line-height navigation__item-wedding">
        <a href="/">Boda</a>
      </li>
      <li class="navigation__item navigation__item--fixed-line-height navigation__item-details">
        <a href="/">Detalles</a>
      </li>
      <li class="navigation__item navigation__item-lodging">
        <a href="/">Hospedaje</a>
      </li>
      <li class="navigation__item navigation__item--fixed-line-height navigation__item-rsvp">
        <a href="/">Confirmar asistencia</a>
      </li>
    </ul>
  </nav>
  <section class="main">
    <div class="wedding">
      <img src="/img/save_the_date.jpg" />
    </div>
  </section>
  <footer>
    Daniela &#9825;  Daniel
  </footer>
{% endblock %}
