{% extends 'base.html.twig' %}

{% block title %}
  Bodorrio Dany y Daniel | Marzo 2018
{% endblock %}

{% block body %}
  <section class="main">
    <div class="wedding">
      <img src="/img/save_the_date.jpg" />
    </div>
  </section>
  <footer>
    Daniela &#9825;  Daniel
  </footer>
{% endblock %}
