{% extends 'base.html.twig' %}

{% block title %}
  Bodorrio Dany y Daniel | Marzo 2018
{% endblock %}

{% block stylesheets %}
  <style>
    html {
      background: url('img/background.png');
      background-size: 310px 255px;
      font-size: 16px;
    }

    body {
      width: 1024px;
      margin: 0 auto;
      font-family: "Ernest and Emily"; 
    }

    .navigation {
      width: 100%;
      float: left;
      margin: 1.5em 0 10px 0;
    }

    .navigation__item {
      position: relative;
      font-family: 'Ernest and Emily Bold';
      white-space: nowrap;
      height: 60px;
    }

    .navigation__item-wedding,
    .navigation__item-details,
    .navigation__item-lodging {
      width: 180px;
    }

    .navigation__item-rsvp {
      width: 454px;
    }

    .navigation__item--uppercase {
      font-family: 'Ernest and Emily Upright Bold';
      text-transform: uppercase;
    }

    .navigation__item a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    .navigation ul {
      margin: 0;
      padding: 0;
    }

    .navigation li {
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
      background: url('/img/watercolor3.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      font-size: 2.85em;
      text-align: center;
      display: inline-block;
      list-style-type: none;
      padding: 10px 0;
      margin: 0;
      float: left;
    }

    .navigation li:not(:last-child) {
      margin-right: 10px;
    }

    .navigation a:link,
    .navigation a:visited,
    .navigation a:hover,
    .navigation a:active {
      text-decoration: none;
      color: #fff;
    }

    .navigation__item--fixed-line-height a {
      transform: translateX(-50%) translateY(-40%);
    }

    .main {
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
      width: 100%;
      clear: both;
    }

    .wedding img {
      width: 100%;
      display: block;
    }

    footer {
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
      background: url('/img/watercolor11.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      color: #fff;
      text-align: center;
      font-size: 3em;
      padding: 10px 0;
      margin: 10px 0 0.5em 0;
    }
  </style>
{% endblock %}

{% block body %}
  <nav class="navigation">
    <ul>
      <li class="navigation__item navigation__item--fixed-line-height navigation__item-wedding">
        <a href="/">Boda</a>
      </li>
      <li class="navigation__item navigation__item--fixed-line-height navigation__item-details">
        <a href="/">Detalles</a>
      </li>
      <li class="navigation__item navigation__item-lodging">
        <a href="/">Hospedaje</a>
      </li>
      <li class="navigation__item navigation__item--fixed-line-height navigation__item-rsvp">
        <a href="/">Confirmar asistencia</a>
      </li>
    </ul>
  </nav>
  <section class="main">
    <div class="wedding">
      <img src="/img/save_the_date.jpg" />
    </div>
  </section>
  <footer>
    Daniela &#9825;  Daniel
  </footer>
{% endblock %}
