files:
  "/etc/httpd/conf.d/vhost.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      NameVirtualHost *:80

      <VirtualHost *:80>
        ServerName bodorrio-dany-daniel.com
        ServerAlias www.bodorrio-dany-daniel.com
        DocumentRoot /var/www/html/web 
      </VirtualHost>
