container_commands:
  01_migrate:
    command: php /var/app/current/bin/console doctrine:schema:update --env=prod --no-debug --no-interaction
    leader_only: true
  02_dumpassets:
    command: php /var/app/current/bin/console assetic:dump --env=prod --no-debug
  03_clearcache:
    command: php /var/app/current/bin/console cache:clear --env=prod --no-debug --no-warmup
